{% include header.html %}
	<div class="spacer">
	</div>
	<section id="imagewrapper" data-type="background" data-speed="4" class="pages">
	<div class="container">
	</div>
	<div class="article">WELCOME
	</div>
		<div class="article2">This is the portfolio and personal page of Mauricio Alexander Rivera
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			{{ content }}
		</div>
	</div>
</div>

<section id="imagewrapperc" data-type="background" data-speed="5	" class="pages">
</div>
</div>
</section>
{% include footer.html %}




